<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MeetLeft</title>    
</head>
<style>
    .MeetEnded {
          font-size: 40px;
          text-align: center;
          margin:200px 100px 100px 100px;
    }
</style>
<body style=" background-color:darkgray;">
    <h1 class="MeetEnded" > You Left The Meeting </h1>
</body>
</html>